<!DOCTYPE html>
<html>
  <head>
    <title><%= userinfo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= userinfo %></h1>
    <p>Welcome to <%= userinfo %></p>
  </body>
</html>
